* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/numbers.jpg");
  background-image: no-repet cover;
  background-size: cover;
}

section {
  height: 530px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgb(223, 213, 213);
  border-radius: 25px;
}

h1 {
  text-align: center;
  padding-top: 30px;
  font-size: 70px;
  color: rgb(11, 9, 9);
  border-bottom: solid 10px rgba(26, 25, 25, 0.487);
}

.container {
  display: flex;
  margin-top: 20px;
  width: 700px;
  height: 400px;
}

form {
  display: block;
  margin-top: 30px;
}

label,
input {
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
}

.operação {
  font-size: 20px;
  margin-top: 20px;
}

select {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 0.3rem;
}

input:focus {
  outline: none;
}

label {
  font-family: bold;
  font-size: 25px;
}
.btn,
.reset {
  padding: 10px;
  margin-top: 20px;
}

.btn:hover,
.reset:hover {
  background-color: rgb(153, 138, 138);
}

.container-calculate {
  flex: 50%;
  text-align: left;
  padding-left: 50px;
  border-right: solid 5px rgba(26, 25, 25, 0.487);
}

.container-result {
  flex: 50%;
  text-align: center;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
